### No default built-in modules for arrays in Python

In [1]:
import numpy as np

simple_array = np.array([1, 2, 3])
mixed_array = np.array([1, 2, 3, "a", "b", "c", 4.5])

print ("Simple array: ", simple_array)
print ("First element of simple_array: ", simple_array[0])
print ("Shape of simple_array: ", simple_array.shape)
print ("Size of simple_array; ", simple_array.size)

print ("\n")
print ("Mixed array: ", mixed_array)
print ("Last element of mixed_array: ", mixed_array[-1])
print ("Length of mixed_array: ", len(mixed_array))

Simple array:  [1 2 3]
First element of simple_array:  1
Shape of simple_array:  (3,)
Size of simple_array;  3


Mixed array:  ['1' '2' '3' 'a' 'b' 'c' '4.5']
Last element of mixed_array:  4.5
Length of mixed_array:  7

### Matrix

In [2]:
a1 = np.array([1, 2, 3])
print (a1)
print (a1.shape)

[1 2 3]
(3,)

In [3]:
a = np.array([[0, 1],[2,3]])
b = np.array([[3,4],[5,6]])

print (a)
print ("\n")
print (b)

[[0 1]
 [2 3]]


[[3 4]
 [5 6]]

In [4]:
np.dot(a,b)

array([[ 5,  6],
       [21, 26]])

In [5]:
a*b

array([[ 0,  4],
       [10, 18]])

In [6]:
np.add(a, b)

array([[3, 5],
       [7, 9]])

In [7]:
a+b

array([[3, 5],
       [7, 9]])

In [8]:
a.T

array([[0, 2],
       [1, 3]])

In [9]:
#determinant of matrix
np.linalg.det(a)

-2.0

In [10]:
#inverse of matrix
np.linalg.inv(a)

array([[-1.5,  0.5],
       [ 1. ,  0. ]])

In [11]:
countries_lived = ["Nepal","India","Germany","Netherlands"]
capitals = ["Kathmandu","New Delhi","Berlin","Amsterdam"]

array1 = np.array([countries_lived, capitals])
print (array1)
print (array1.shape)
print (array1.size)

[['Nepal' 'India' 'Germany' 'Netherlands']
 ['Kathmandu' 'New Delhi' 'Berlin' 'Amsterdam']]
(2, 4)
8

In [12]:
array2 = np.array([countries_lived, capitals]).T

print (array2)
print (array2.shape)
print (array2.size)

[['Nepal' 'Kathmandu']
 ['India' 'New Delhi']
 ['Germany' 'Berlin']
 ['Netherlands' 'Amsterdam']]
(4, 2)
8

In [13]:
array2 = np.append(array2, [["France","Paris"]], axis = 0)

print (array2)

[['Nepal' 'Kathmandu']
 ['India' 'New Delhi']
 ['Germany' 'Berlin']
 ['Netherlands' 'Amsterdam']
 ['France' 'Paris']]

In [14]:
import pandas as pd

df = pd.DataFrame(array2,
                 columns = ["Country", "Capital"])
df

       Country    Capital
0        Nepal  Kathmandu
1        India  New Delhi
2      Germany     Berlin
3  Netherlands  Amsterdam
4       France      Paris